{% extends "layout.html" %}

{% block title %}
    Add book
{% endblock %}

{% block main %}
    <form action="/add" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="addbook" name="addbook" placeholder="Title" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="person" name="addperson" placeholder="Number of shares" type="int">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
