{% extends "layout.html" %}

{% block title %}
    Add book
{% endblock %}

{% block main %}
    <form action="/addbook" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="addbook" name="addbook" placeholder="Title" type="text">
        </div>
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="person">
                <option disabled="" selected="">Who rented?</option>
                {% for person in people %}
                    <option value="{{ person.nick }}">{{ person.nick }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Add book</button>
    </form>
{% endblock %}
