{% extends "layout.html" %}

{% block title %}
    Give back
{% endblock %}

{% block main %}
    <form action="/back" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="title">
                <option disabled="" selected="">Title</option>
                {% for book in books %}
                    <option value="{{ book.title }}">{{ book.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="nick">
                <option disabled="" selected="">Name, nick</option>
                {% for guy in person %}
                    <option value="{{ guy.nick }}">{{ guy.name + " " + guy.surname + ", " + guy.nick }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}
