{% extends "layout.html" %}

{% block title %}
    Give back
{% endblock %}

{% block main %}
    <form action="/back" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="symbol">
                <option disabled="" selected="">Title</option>
                {% for book in books %}
                    <option value="{{ book.title }}">{{ book.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="person" name="person" placeholder="Did someone else rented it?" type="int">
        </div>
        <button class="btn btn-primary" type="submit">Give back</button>
    </form>
{% endblock %}
