{% extends "layout.html" %}

{% block title %}
    Find book
{% endblock %}

{% block main %}
    <form action="/find" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="title">
                <option disabled="" selected="">Title</option>
                {% for book in books %}
                    <option value="{{ book.title }}">{{ book.titl }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Find</button>
    </form>
{% endblock %}
