{% extends "layout.html" %}

{% block title %}
    Found
{% endblock %}

{% block main %}
{% for book in books %}
<p>{{ book.title, book.name, book.surname, book.nick, book.time, book.status }}</p><br>
{% endfor %}
<form action="/found" method="post">
    <div class="mb-3">
        <select class="form-select mx-auto w-auto" name="title">
            <option disabled="" selected="">Borrowed</option>
            {% for guy in person %}
                <option value="{{ guy.nick }}">{{ guy.name guy.surname }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Find</button>
</form>
{% endblock %}
