{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Title</th>
                <th class="text-start">Name</th>
                <th class="text-start">Surname</th>
                <th class="text-end">Nick</th>
                <th class="text-end">When</th>
                <th class="text-end">Status</th>
            </tr>
        </thead>
       <tbody>
            {% for book in books %}
                <tr>
                    <td class="text-start">{{ book.title }}</td>
                    <td class="text-start">{{ book.name }}</td>
                    <td class="text-start">{{ book.surname }}</td>
                    <td class="text-start">{{ book.nick }}</td>
                    <td class="text-end">{{ book.status }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}
