{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Title</th>
                <th class="text-start">Name</th>
                <th class="text-start">Surname</th>
                <th class="text-end">Nick</th>
                <th class="text-end">When</th>
                <th class="text-end">Status</th>
            </tr>
        </thead>
       <tbody>
            {% for book in rents %}
                <tr>
                    <td class="text-start">{{ stock.symbol }}</td>
                    <td class="text-start">{{ stock.nazwa }}</td>
                    <td class="text-end">{{ stock['SUM(number)'] }}</td>
                    <td class="text-end">{{ stock.pricenow | usd }}</td>
                    <td class="text-end">{{ (stock['SUM(number)']*stock.pricenow) | usd}}</td>
                </tr>
            {% endfor %}

        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end">{{ bank | usd }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ (total + bank) | usd }}</td>
            </tr>
        </tfoot>
    </table>

{% endblock %}
