.back{
    z-index: -9999;
}

#nav-placeholder{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bot: 5px;
    background color: #000000;
}

.nav-item{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bot: 5px;
    background color: #00ff00;
}

.active{
    background color: #012345 !important;
}