.back{
    z-index: -9999;
    padding-top: 5rem;
    margin-bot: 5rem;
}

#nav-placeholder{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bot: 5px;
    background color: #000000;
}

.nav-item{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bot: 5px;
    background-color: #008877;
    border-radius: 2rem;
}

.nav-link{
    color: #ffffff;
}

a.nav-link:hover{
    color: #004433;
}

.green{
    background-color: #003344;
}

.accordion-button:not(.collapsed){
    color: #008877;
    background-color: #dddddd;
}

.accordion-button{
    color: #008877;
    background-color: #fefefe;
}
